name: Rematch Tourney Scout

on:
  workflow_dispatch:  # Allows you to run the bot manually anytime
  schedule:
    - cron: "0 9 * * *" # Runs daily at 09:00 UTC (approx. 10:00 AM German time)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # Upgraded to v4 for better performance

      - name: Setting up Python
        uses: actions/setup-python@v5 # Upgraded to v5
        with:
          python-version: "3.11" # Modern Python version
          architecture: "x64"

      - name: Running Scout Script
        env:
          TIMEZONE: "Europe/Berlin"
          GAME_ID: "89757"
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
          STARTGG_TOKEN: ${{ secrets.STARTGG_TOKEN }}
        run: |
          # 1. Install the library from requirements.txt
          pip install -r requirements.txt
          
          # 2. Use the installed library to download the browser
          python -m playwright install --with-deps chromium
          
          # 3. Finally, run your script
          python app.py
